.productBiddingCard {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  width: 21vmax;
  height: 30vmax;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  padding-top: 0.2vmax;
  flex-wrap: wrap;
  justify-content: center;
  }
  .productName{
   font-size: 15px;
  }
  
  .productBiddingCard img {
    width: 14vmax;
    max-height: 10rem;
    object-fit: contain;
    margin-bottom: 1rem;
   
  }
  
  .productBiddingCard p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productBiddingCard span {
    margin: 0.5vmax;
    color: rgb(40, 37, 37);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productBiddingCard div {
    margin: 0.2vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
 
  
  .productBiddingCard input[type="number"] {
    width: 10vmax;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    
  }
  .productBiddingCard div div div {
    margin-left: auto;
  }
  
  .productBiddingCard input[type="number"]:focus {
    outline: none;
    border: 1px solid #0077ff;
  }
  
  .productBiddingCard label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1rem;
  }
  
  .productBiddingCard button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #0077ff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .productBiddingCard button:hover {
    background-color: #005ce6;
  }
  .textField{
    width: 20vmax;
  }

  @media only screen and (max-width: 1080px) {
    
    .productBiddingCard {
      
      height: 30vmax;
      
     
    }
  
    .productBiddingCard img {
      width: 14vmax;;
      margin-bottom: 0;
      margin-right: 32px;
    }
  
    .productBiddingCard p {
      font-size: 24px;
    }
  
    .productBiddingCard span {
      font-size: 28px;
      margin-bottom: 0;
      margin-right: 32px;
    }
  
    .productBiddingCard div {
      align-items: flex-start;
    }
  
    .productBiddingCard button {
      width: auto;
      align-self: center;
    }
   
    
  }