.page{
    
   width: auto;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 3vh;
    
    border-radius: 3px;
    border-color: black;
  
}

.submitCities{
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: 2vh;
 height: 3vh;
 margin-left: 1vh;


}
 


.ordertableContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2vh;
  }
  
  #productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }
  
  .ordersListTable {
    background-color: white;
    border: none !important;
  }
  
  .ordersListTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none !important;
  }
  
  .ordersListTable a,
  .ordersListTable button {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    
    border-color: rgb(175, 84, 68);
  }
  
  .ordersListTable a:hover {
    color: tomato;
    
  }
  
  .ordersListTable button:hover {
    color: rgb(236, 30, 30);
  }
  
  .MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
  }
  
  @media only screen and (max-width: 1080px) {
    .ordersListTable div {
      font: 300 4vw "Roboto";
    }
  }